<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h2>Register</h2>
<form th:action="@{/member/register}" method="post" th:object="${memberDto}">
    <div>
        <label th:for="*{username}">Username:</label>
        <input type="text" th:field="*{username}" required />
    </div>
    <div>
        <label th:for="*{password}">Password:</label>
        <input type="password" th:field="*{password}" required />
    </div>
    <div>
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required />
    </div>
    <div>
        <button type="submit">Sign Up</button>
    </div>
</form>
<p>Already have an account? <a th:href="@{/member/login}">Login here</a></p>
</body>
</html>