<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Feel Pick!</title>
    <meta th:charset="utf-8">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="account">
        <a th:href="|/member/login|" th:text="로그인">로그인</a>
        <a th:href="|/member/register|" th:text="회원가입">회원가입</a>
    </div>

    <h1>Feel Pick!</h1>
    <h2>지금 기분이 어떤가요? AI가 기분에 따라 음식을 추천해줄거에요!</h2>

    <!-- 사용자 입력 폼 -->
    <div class="choice">
        <form th:action="@{/food/recommend}" th:object="${choiceDto}" method="post">
            <div class="choice-mood">
                <label th:for="*{mood}">지금 나의 기분은 </label>
                <select th:field="*{mood}">
                    <option value="우울">우울</option>
                    <option value="슬픔">슬픔</option>
                    <option value="분노">분노</option>
                </select>
            </div>

            <div class="choice-type">
                <label th:for="*{type}">원하는 종류는 </label>
                <select th:field="*{type}">
                    <option value="Korean Food">한식</option>
                    <option value="Western Food">양식</option>
                    <option value="Japanese Food">일식</option>
                    <option value="Chinese Food">중식</option>
                </select>
            </div>
            <button type="submit">추천해주세요</button>
        </form>
    </div>

    <!-- 음식 랭킹 표시 -->
    <div th:if="${rankings}">
        <h2>Today's Food Rankings</h2>
        <ol>
            <li th:each="food : ${rankings}" th:text="${food}"></li>
        </ol>
    </div>

</body>
</html>
