<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Feel Pick!</title>
</head>
<body>
<h1>Feel Pick!</h1>

<span th:text="|${member.username}님 환영합니다.|"></span>

<div class="container">
    <a href="/member/logout" >로그아웃</a>
    <a href="/member/mypage" >마이페이지</a>
</div>

<!-- 사용자 입력 폼 -->
<form th:action="@{/food/recommend}" th:object="${choiceDto}" method="post">
    <label th:for="*{mood}">지금 나의 현재 기분은 </label>
    <select th:field="*{mood}">
        <option value="기쁨">기쁨</option>
        <option value="우울">우울</option>
        <option value="슬픔">슬픔</option>
        <option value="분노">분노</option>
    </select>

    <label th:for="*{type}">원하는 종류는 </label>
    <select th:field="*{type}">
        <option value="한식">한식</option>
        <option value="양식">양식</option>
        <option value="일식">일식</option>
        <option value="중식">중식</option>
    </select>
    <button type="submit">추천해주세요</button>
</form>

<!-- 음식 랭킹 표시 -->
<div th:if="${rankings}">
    <h2>Today's Food Rankings</h2>
    <ol>
        <li th:each="food : ${rankings}" th:text="${food}"></li>
    </ol>
</div>

</body>
</html>
